
h1,p {
	font-size: 20px;
	font-family: sans-serif;
	font-color:darkgrey;
}
p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

div.container {
	background-color: lightgrey;
    width: 80%;
    padding: 25px;
    margin: 25px;
}

/*background image*/



/*sticky footer */

 /* bottom = footer height */

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    color:black;
    height: 100px;
    width: 100%;
    font-size: 5px;
}

