*{
    align-content: center;
   
    font-size: 25px;
}

body{
	background-color: #666;
    margin: 20px;
    font-family: sans-serif;
    font-size: 18px;
    align-content: center;
    clear: both;

}
header{
    background: blue;
    font-size: 25px;
    text-align: center;

}
h1, {
	color: black; text-align: center;
   font-size: 40px}
   p {
    color: black; text-align: center;
   font-size: 25px
}
img {
    float: right;
    size: width: 300px;height: 220px;"
}
div {
    border: 10px solid black;
    background-color: grey;
    margin: 20px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    clear: both;
    overflow: auto;
}
section{
    width: 960px;
    }
